* {
    margin: 0;
    border: 0;
    padding: 0;
}

html,
body {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E3B32D;
}

body {
    -webkit-overflow-scrolling: touch;
}

a {
    outline: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 527px;
    min-height: 100vh;
    overflow: hidden;
}

header {
    display: block;
}

#logo {
    width: 527px;
    height: 39px;
    margin: 15px 0;
    background-image: url(/images/logo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo.white {
    background-position: 0 -40px;
}

#logo.black {
    background-position: 0 0;
}
