*{
	margin:0; border:0; padding:0;
}
body, html{
	height:100%;
	min-height:100%;
}
a{outline:none;}
#container{
	position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	margin:0 auto;
	width:750px;
	height:100%;
	min-height:100%;
	background-color:#E3B32D;
	overflow:hidden;
}
#logo{
	width:544px;
	height:39px;
    margin: 15px 0;
	background-image:url(/images/logo.gif);
	background-repeat:no-repeat;
}
#gopix{
	width:544px;
	height:544px;
}
.row{
    display: flex;
    justify-content: space-between;
}
a.pix{
    display: inline-block;
	overflow:hidden;
	width:16px;
	height:16px;
	background-image:url(/images/pix.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	/*border:1px solid red;*/
}
a.shade3{
	opacity: .7;
}
a.shade2{
	opacity: .4;
}
a.shade1{
	opacity: .1;
}
a.black{
	background-position:0 -32px;
}
a.white{
	background-position:0 -16px;
}
a.pix:hover{
	background-position:0 -16px;
}
