<template>
    <require from="components/footer.css"></require>
    <button if.bind="showHelpButton" click.delegate="toggleHelp()">?</button>
    <button if.bind="showHideButton" click.delegate="toggleHelp()">&times;</button>
    <div if.bind="showHelpText" class="helpTekst">
        <ul>
            <li>Click or tap the board to start game</li>
            <li>Move by using the arrow keys or by swiping</li>
            <li>Catch oponent or lemons to gain strength</li>
            <li>Larger attacker wins from defender</li>
            <li>Separated groups of pieces are lost</li>
            <li>Last single enclosed piece is lost</li>
        </ul>
    </div>
    <h2 class="ashWareLink"><a href="http://www.ashware.nl" target="_blank">&copy;&nbsp;ashWare</a></h2>
</template>
