#gopix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 527px;
    height: 527px;
}

.row {
    flex: 0 0 47px;
    display: flex;
    justify-content: space-between;
}

.pix {
    /*display: flex;
    justify-content: space-around;
    align-items: center;*/
    width: 47px;
    height: 47px;
    max-width: 47px;
    max-height: 47px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 13px solid #3d89d9;
    background-color: #3d89d9;
}

.pix:before {
    content: '';
    display: block;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: all .5s;
}

.pix:not(.empty):before {
    width: 100%;
    height: 100%;
}

.pix.black:before {
    border-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1), inset 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.pix.white:before {
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1), inset 0 0 20px 0px rgba(255, 255, 255, 0.7);
}
